.well
  = simple_form_for(@book, :html => { :class => 'form-horizontal' }) do |f|
    = f.error_notification

    .form-inputs
      = f.association :category
      %hr/
      = f.input :name
      = f.input :isbn, label: 'ISBN', hint: 'Min. 6, max. 10 characters required'
      = f.input :about
      = f.input :active
      = f.input :release, as: :date, wrapper_html: { class: 'date_picker' }

    .form-actions
      = f.button :submit
