.well
  = simple_form_for(@book) do |f|
    = f.error_notification

    .form-inputs
      = f.association :category,prompt: 'Select category'
      %hr/
      = f.input :name
      = f.input :isbn, label: 'ISBN', hint: 'Min. 6, max. 10 characters required'
      = f.input :about
      = f.input :active, as: :currency
      = f.input :release, as: :date, wrapper_html: { class: 'date_picker' }
      = f.input :category, collection: 10..20, as: :check_boxes

    .form-actions
      = f.button :submit
