%h1 Listing books

%table.table.table-striped.table-bordered
  %tr
    %th Category
    %th Name
    %th ISBN
    %th About
    %th Active
    %th Release
    %th
    %th
    %th

  - @books.each do |book|
    %tr
      %td= book.category.try(:name)
      %td= book.name
      %td= book.isbn
      %td= book.about
      %td= book.active
      %td= book.release
      %td= link_to 'Show', book
      %td= link_to 'Edit', edit_book_path(book)
      %td= link_to 'Destroy', book, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Book', new_book_path
